.popup__close {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 18px;
  right: 18px;

  margin: 0;
  padding: 0;

  width: 30px;
  height: 30px;

  border: none;

  background: inherit;

  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.5;
  }
}
